/* nav{
    position: absolute !important;
    width: 100%;
} */

.navbar{
    margin: 0;
    padding: 0;
}

.navbar-brand>img{
    width: 18%;
    height: auto;
    margin: 1% auto;
}

.navbar-nav{
    margin: -1% -2%;
}

.navflex{
    display: flex;
    justify-content: space-between;
}

.navbtn{
    margin: 8px 8px;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    border-radius: 15%;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-4px, 5px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-7px, -9px) ;
  }

@media (max-width: 450px) {
    .navbar-brand>img{
        width: 42%;
        height: auto;
    }
  }

@media (max-width: 600px) {
    #nav{
        background-color: rgba(17, 17, 17, 0.774);
        padding: 20px;
        margin: 10px;
        border-radius: 5%;
    }
  }

.nav-link {
    font-family: 'Anonymous Pro', monospace;
    color: greenyellow;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

.nav-link:hover {
    opacity: 1;
    color: rgb(165, 231, 65);
}

.nav-link::before {
    transition: 300ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: rgb(147, 202, 64);
  }
  
.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 90%;
}

#main-body{
    position: absolute;
    width: 100%;
    margin-top: 38vh;
    font-family: 'Anonymous Pro', monospace;
}

#main-body>h1{
    font-size: 48px;
    text-align: center;
    color: white;
}

#typing{ 
    color:greenyellow; 
    text-decoration: none;
    font-size: 30px;
}

#particles-js {
    width: 100%;
    height: 130%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: rgb(50, 50, 50);
}

.btn{
    position: absolute;
    color: greenyellow;
    font-size: 18px;
    font-family: 'Anonymous Pro', monospace;
    text-decoration: none;
    margin: 57vh 0;
    border: 1px solid rgba(172, 255, 47, 0.76);
    padding: 8px 40px;
    overflow: hidden;
    transition: 1s all ease;
    border-radius: 0;
    outline: none;
  }

.btn::before{
    background: greenyellow;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    outline: none;
}

.btn1::before{
    position: absolute;
    width: 0%;
    height: 101%;
    outline: none;
}

.btn1:hover::before{
    position: absolute;
    width: 101%;
    outline: none;
}

.about{
    position: absolute;
    height: 130vh;
    width: 100%;
    margin-top: 100vh;
    background-color: rgb(87, 87, 87);
    overflow: hidden;
}

.page2{
    display: flex;
    width: 100%;
}

.termynal{
    margin-top: 26vh;
    margin-left: 53%;
}

.about-me{
    font-family: 'Anonymous Pro', monospace;
    color: rgb(233, 233, 233);
    display: flex;
    width: 30vw;
    margin-top: 80vh;
    margin-left: -78%;
    position: absolute;
    flex-direction: column;
}

.pic{
    margin-top: 26vh;
    margin-left: 22%;
}

.page3{
    position: absolute;
    height: 120vh;
    width: 100%;
    margin-top: 230vh;
    background-color: rgb(63, 62, 62);
    overflow: hidden;
}

.tags{
    margin-top: 20vh !important;
}

.folder 
{ font-family: 'Anonymous Pro', monospace; 
  font-size: 1.265em; line-height: 1.4; 
  -webkit-text-size-adjust: none;
  color: #86c427;
  position: absolute;
  margin-top: -85vh;
  margin-left: 49vw;
}

footer{
    position: absolute;
    height: 15vh;
    width: 100%;
    margin-top: 340vh;
    background-color: rgb(32, 32, 32);
    font-family: 'Anonymous Pro',monospace;
    color: white;
    font-size: 19px;
}

.foot{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
}

.footer-social-links{
    font-size: 14px;
  text-align: center;
  margin-top: 20%;
}
.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: rgb(255, 255, 255);
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px;
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(172, 255, 47);
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}
.footer-social-links a:hover{
    color: rgb(172, 255, 47);
}
.footer-social-links a:hover:before{
    background: #111;
    border: 1px solid rgb(0, 0, 0);
}

.footerlink{
    margin-top: -20%;
}

.exp{
    transform:rotate(-90deg);
    color: white;
    position: absolute;
    margin-top: 55vh;
    font-family: monospace;
    font-size: 15px;
    margin-right: -1vw;
}

.work{
    transform:rotate(90deg) ;
    color: white;
    position: absolute;
    margin-top: 55vh;
    margin-left: 92.65vw;
    font-family: monospace;
    font-size: 15px;
    width: max-content;
}

.abt{
    transform:rotate(-90deg);
    color: white;
    position: absolute;
    margin-top: 60vh;
    font-family: monospace;
    font-size: 15px;
    margin-right: -1vw;
    width: max-content;
}

.skll{
    transform:rotate(90deg) ;
    color: white;
    position: absolute;
    margin-top: 60vh;
    margin-left: 94vw;
    font-family: monospace;
    font-size: 15px;
}

@media all and (max-width: 1200px) {
    .termynal, .abt, .skll {
      display: none;
    }
    
    .about-me{
        margin-top: 35vh;
        margin-left: 15%;
    }
    
    .about{
        height: 108vh;
    }

    .page3{
        margin-top: 208vh;
    }

    footer{
        margin-top: 318vh;
    }

    .tags{
        margin-top: 13vh !important;
    }

    .folder{
        margin-top: -85vh;
        margin-left: 42vw;
        font-size: 1.1em;
    }

    .exp{
        margin-top: 56vh;
    }

    .work{
        margin-top: 56vh;
    }
}

@media all and (max-width: 540px) {

    .pic{
        font-size: 5px !important;
        line-height: 7px !important;
        margin-top: 14vh;
        margin-left: 1.5%;
    }

    .about-me{
        margin-top: 60vh;
        font-size: 15px;
        margin-left: 5%;
    }

    .about-me>p{
        width: 280%;
    }

    .about{
        margin-top: 112vh;
        height: 125vh;
    }

    .page3{
        margin-top: 227vh;
        height: 130vh;
    }

    footer{
        margin-top: 350vh;
        height: 18vh;
    }

    .exp{
        display: none;
    }
    
    .work{
        display: none;
    }

    .folder{
        margin-top: -15vh;
        margin-left: -16.5vw;
        font-size: 0.87em;
    }

    .tags{
        width: 370px !important;
        height: 370px !important;
        margin-top: 15vh !important;
    }

    .colortxt{
        display: none;
    }

    .footericon>img{
        height: 47px !important;
        margin-left: 29% !important;
        margin-top: -7% !important;
        margin-bottom: 7%;
    }

    #main-body{
        margin-top: 35vh;
    }

    #main-body>h1{
        font-size: 44px;
    }

    #typing{
        font-size: 25px;
    }

    .btn{
        margin-top: 51vh;
    }
}